.formulario{
    width: 100%;

    //background-color: red;

    .formWrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;

        //background-color: yellow;

        label{
            font-size: 1.2rem;
        }

        input{
            border: none;
            border-radius: 20px;
            height: 36px;
            padding: 0 10px;
            width: 256px;
    
            &:focus{
                outline-color: green;
            }
        }
    }


}